flask
flask-cors
gunicorn
insightface
onnxruntime
opencv-python
pillow
numpy
pandas
requests
tensorflow
tensorflow-cpu
tensorflow-gpu
tensorflow-io
tensorflow-serving-api
tensorflowjs
tensorflowjs-graph-converter
tensorflowjs-wasm
tensorflowjs-wasm-node
tensorflowjs-wasm-node-server
tensorflowjs-wasm-node-server-onnx
tensorflowjs-wasm-node-server-tfjs
scipy
scikit-image
scikit-learn